{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logowanie</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="{% static 'images/logo.png' %}" alt="GenePersona logo" class="logo">
            <p>Wprowadź swoje dane logowania do bazy:</p>
            <form method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <div style="color: red; margin-bottom: 15px;">
                        {{ form.errors }}
                    </div>
                {% endif %}
                <input type="text" name="username" placeholder="Nazwa użytkownika" required>
                <input type="password" name="password" placeholder="Hasło" required>
                <button type="submit">Zaloguj się</button>
            </form>
        </div>
    </div>
</body>
</html>
